<div class="overlay">
    <form
        class="mainForm"
        #addForm="ngForm"
        (ngSubmit)="onSubmit(addForm)"
    >
        <label for="name">Name</label>
        <input
            type="text"
            name="name"
            id="formText"
            autocomplete="off"
            minlength="4"
            maxlength="20"
            required
            [(ngModel)]="item.name"
            #name="ngModel"
        >
        <!-- validation for name -->
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <p *ngIf="name.errors?.['required']">name is required</p>
            <p *ngIf="name.errors?.['minlength']">name must be at least {{name.errors?.minlength.requiredLength}} characters</p>
        </div>

        <label for="price">Price</label>
        <input
            #numberField
            type="number"
            name="price"
            id="formText"
            min="1"
            value="1"
            autocomplete="off"
            required
            [(ngModel)]="item.price"
            #price="ngModel"
        >
        <!-- validation for price -->
        <div *ngIf="price.invalid && (price.dirty || price.touched)">
            <p *ngIf="price.errors?.['required']">price is required</p>
        </div>

        <!-- item description -->
        <label for="description">Description</label>
        <textarea
            name="description"
            id="formTextarea"
            cols="30"
            rows="10"
            minlength="10"
            maxlength="250"
            required
            [(ngModel)]="item.description"
            #description="ngModel"
        ></textarea>

        <!-- description validation -->
        <div *ngIf="description.invalid && (description.dirty || description.touched)">
            <p *ngIf="description.errors?.['required']">description is required</p>
            <p *ngIf="description.errors?.['minlength']">description must be at least {{description.errors?.minlength.requiredLength}}  characters</p>
        </div>

        <!-- category drop-down menu -->
        <label for="category">Category</label>
        <select
            id="formSelect"
            #select="ngModel"
            ngModel
            name="category"
            required
            (change)="onChange(select.value)"
        >
            <!-- default value -->
            <option
                [value]="null"
                disabled
                selected
            >
                Select Category
            </option>
            <option
                [(ngModel)]="item.category"
                name="category"
                [value]="list"
                *ngFor="let list of categorySelect"
            >
                {{list}}
            </option>
        </select>

        <!-- validation for category drop-down selection -->
        <div *ngIf="select.invalid && (select.dirty || select.touched)">
            <p *ngIf="select.errors?.['required']">category is required</p>
        </div>


        <!-- listed and happyhour checkbox -->
        <label for="listed">Listed</label>
        <input
            type="checkbox"
            name="listed"
            value="false"
            [(ngModel)]="item.listed"
        >
        <label for="happyHour">Happy Hour</label>
        <input
            type="checkbox"
            name="happyHour"
            value="false"
            [(ngModel)]="item.happyHour"
        >

        <!-- submit and reset button -->
        <input
            type="button"
            value="Cancel"
            (click)="onClickClose()"
        >
        <input
            type="submit"
            value="Submit"
            [disabled]="!addForm.form.valid"
        >
        <input
            class="closeBtn"
            type="button"
            value="X"
            (click)="onClickClose()"
        >
    </form>

</div>
