.mainForm {
  background-color: white;
  position: relative;
  width: 600px;
  height: auto;
  padding: 25px;
  z-index: 2;
  border-radius: 10px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  background: none;
  border: none;
  cursor: pointer;
}
