.group-label {
  width: 100px;
  color: black;
  /* background-color: #0d6efd;
  border-color: #0d6efd; */
  text-align: left;
}
.preview-btn {
  width: 100px;
}
.group-tab {
  width: 85px;
}

.group-tab-wide {
  width: 127.5px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 40px;
  width: 100%;
  outline: 1.5px solid rgb(161, 161, 161);
  border-radius: 10px;
}