<!-- add user style selection here -->

<form
    class="form-group"
    #styleForm="ngForm"
    (ngSubmit)="checkValue(styleForm.form.value)"
>
    <!-- format -->
    <div
        class="btn-group btn-group-sm m-1"
        role="group"
        aria-label="format selection"
    >

        <input
            class="btn-check"
            type="radio"
            id="label"
            name="format"
            value="LABEL"
            disabled

        >
        <label
            class="btn btn-outline-primary group-label bg-dark text-white border-dark"
            for="label"
        >
            Format
        </label>
        <input
            class="btn-check"
            type="radio"
            id="tall"
            name="format"
            value="tall"
            [checked]="styles.format === tall.value"
            #tall
            [ngModel]="styles.format"

        >
        <label
            class="btn btn-outline-primary group-tab"
            for="tall"
        >
            Tall
        </label>
        <input
            class="btn-check"
            type="radio"
            id="wide"
            name="format"
            value="wide"
            [checked]="styles.format === wide.value"
            #wide
            [ngModel]="styles.format"
        >
        <label
            class="btn btn-outline-primary group-tab "
            for="wide"
        >
            Wide
        </label>
        <input
            class="btn-check"
            type="radio"
            id="list"
            name="format"
            value="list"
            [checked]="styles.format === list.value"
            #list
            [ngModel]="styles.format"
        >
        <label
            class="btn btn-outline-primary group-tab"
            for="list"
        >
            List
        </label>
    </div>

    <!-- font style -->
    <div
        class="btn-group btn-group-sm m-1"
        role="group"
        aria-label="font selection"
    >
        <input
            class="btn-check"
            type="radio"
            id="label"
            name="font"
            value="LABEL"
            disabled

        >
        <label
            class="btn btn-outline-primary group-label bg-dark text-white border-dark"
            for="label"
        >
            Font
        </label>
        <input
            class="btn-check"
            type="radio"
            id="modern"
            name="font"
            value="modern"
            [checked]="styles.font === modern.value"
            #modern
            [ngModel]="styles.font"
        >
        <label
            class="btn btn-outline-primary group-tab"
            for="modern"
        >
            Modern
        </label>
        <input
            class="btn-check"
            type="radio"
            id="classic"
            name="font"
            value="classic"
            [checked]="styles.font === classic.value"
            #classic
            [ngModel]="styles.font"
        >
        <label
            class="btn btn-outline-primary group-tab"
            for="classic"
        >
            Classic
        </label>
        <input
            class="btn-check"
            type="radio"
            id="stylize"
            name="font"
            value="stylize"
            [checked]="styles.font === stylize.value"
            #stylize
            [ngModel]="styles.font"
        >
        <label
            class="btn btn-outline-primary group-tab"
            for="stylize"
        >
            Stylize
        </label>
    </div>

    <!-- pricing style -->
    <div
        class="btn-group btn-group-sm m-1"
        role="group"
        aria-label="pricing-style selection"
    >
        <input
            class="btn-check"
            type="radio"
            id="label"
            name="pricing"
            value="LABEL"
            disabled

        >
        <label
            class="btn btn-outline-primary group-label bg-dark text-white border-dark"
            for="label"
        >
            Pricing
        </label>
        <input
            class="btn-check"
            type="radio"
            id="default"
            name="pricing"
            value="default"
            checked
            [checked]="styles.pricing === default.value"
            #default
            [ngModel]="styles.pricing"

        >
        <label
            class="btn btn-outline-primary group-tab-wide"
            for="default"
        >
            Default
        </label>
        <input
            class="btn-check"
            type="radio"
            id="fixed"
            name="pricing"
            value="fixed"
            [checked]="styles.pricing === default.value"
            #fixed
            [ngModel]="styles.pricing"
        >
        <label
            class="btn btn-outline-primary group-tab-wide"
            for="fixed"
        >
            Fixed
        </label>
    </div>
    <input
        class="btn btn-primary btn-sm d-block ms-1 preview-btn"
        type="submit"
        value="Preview"

    >
</form>

<div class="menu-container">

    <menu-card
        [styles]="styles"
        [category]="appetizer"
        title="Appetizers"
    ></menu-card>

    <menu-card
        [styles]="styles"
        [category]="entree"
        title="Entrees"
    ></menu-card>

    <menu-card
        [styles]="styles"
        [category]="cocktail"
        title="Cocktails"
    ></menu-card>

    <menu-card
        [styles]="styles"
        [category]="beverage"
        title="Beverages"
    ></menu-card>

    <menu-card
        [styles]="styles"
        [category]="side"
        title="Sides"
    ></menu-card>

</div>
