<div class="menuCard">
    <h3>{{item.name}}</h3>
    <p>{{item.price | currency}}</p>
    <p>{{item.description}}</p>
    <p>category: {{item.category}}</p>

    <label for="listed">Listed</label>
    <input
        type="checkbox"
        name="listed"
        [checked]="item.listed"
        (change)="handleCheck(item.id, 'listed', item.listed)"
    >
    <label for="happyHour">Happy Hour</label>
    <input
        type="checkbox"
        name="happyHour"
        [checked]="item.happyHour"
        (change)="handleCheck(item.id, 'happyHour', item.happyHour)"
    >
    <button class="btn btn-warning me-3" (click)="onEdit(item)">edit</button>
    <button type="button" class="btn btn-danger"(click)="onDelete(item.id)">delete</button>
</div>
