.editForm {
  background-color: aqua;
  position: relative;
  width: 500px;
  padding: 25px;
  z-index: 2;
}

.overlay {
  background-color: rgba(0, 0, 0, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  filter: blur(5px);
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}