<div
    *ngIf="activeForm"
    class="overlay"
>
    <form
        class="editForm form-group"
        #editForm="ngForm"
        (ngSubmit)="onSubmit(editForm)"
    >
        <h3>Edit {{editItem.name}}</h3>
        <label
            class="mt-2"
            for="name"
        >
            Name
        </label>
        <input
            class="form-control"
            type="text"
            name="name"
            id="formText"
            autocomplete="off"
            placeholder="Beef Wellington, Cheesecake, Martini, etc..."
            required
            minlength="4"
            [ngModel]="editItem.name"
            #name="ngModel"
        >
        <!-- validation for name -->
        <div
            class="form-text"
            *ngIf="name.invalid && (name.dirty || name.touched)"
        >
            <p *ngIf="name.errors?.['required']">name is required</p>
            <p *ngIf="name.errors?.['minlength']">
                name must be at least {{name.errors?.minlength.requiredLength}} characters
            </p>
        </div>

        <label
            class="mt-2"
            for="price"
        >
            Price
        </label>
        <input
            class="form-control"
            type="number"
            name="price"
            id="formText"
            min="1"
            required
            autocomplete="off"
            [ngModel]="editItem.price"
            #price="ngModel"
        >

        <!-- validation for price -->
        <div
            class="form-text"
            *ngIf="price.invalid && (price.dirty || price.touched)"
        >
            <p *ngIf="price.errors?.['required']">price is required</p>
        </div>

        <!-- item description -->
        <label for="description">Description</label>
        <textarea
            class="form-control"
            name="description"
            id="formTextarea"
            cols="30"
            rows="10"
            minlength="10"
            maxlength="250"
            placeholder="A scrumptious description of the dish or drink..."
            required
            [ngModel]="editItem.description"
            #description="ngModel"
        ></textarea>

        <!-- description validation -->
        <div
            class="form-text"
            *ngIf="description.invalid && (description.dirty || description.touched)"
        >
            <p *ngIf="description.errors?.['required']">description is required</p>
            <p *ngIf="description.errors?.['minlength']">
                description must be at least {{description.errors?.minlength.requiredLength}}  characters
            </p>
        </div>

        <!-- category drop-down menu -->
        <label
            class="mt-2"
            for="category"
        >
            Category
        </label>
        <select
            class="form-control"
            id="formSelect"
            #select
            name="category"
            required
            (change)="onChange(select.value)"
        >
            <!-- default value -->
            <option
                value=""
                disabled
            >
                Select Category
            </option>
            <option
                name="category"
                *ngFor="let list of categorySelect"
                [value]="list"
                [selected]="editItem.category === list"
            >
                {{list}}
            </option>
        </select>

        <!-- listed and happyhour checkbox -->
        <div class="form-switch ps-0 mt-2 mb-3">
            <label for="listed">Listed</label>
            <input
                class="form-check-input ms-1 me-1 mt-1"
                type="checkbox"
                name="listed"
                [ngModel]="editItem.listed"
            >
            <label for="happyHour">Happy Hour</label>
            <input
                class="form-check-input ms-1 me-1 mt-1"
                type="checkbox"
                name="happyHour"
                [ngModel]="editItem.happyHour"
            >
        </div>

        <!-- submit and reset button -->
        <input
            class="btn btn-secondary me-3"
            type="button"
            value="Cancel"
            (click)="onCancel()"
        >
        <input
            class="btn btn-primary"
            type="submit"
            value="Submit"
            [disabled]="!editForm.form.valid"
        >
        <input
            class="closeBtn"
            type="button"
            value="&#10005;"
            (click)="onCancel()"
        >

    </form>
</div>

<div class="menuWrapper" [ngClass]="{'blur': activeForm}">
    <item-card
        *ngFor="let item of menu"
        [item]="item"
        (openForm)="openEditForm($event)"
    ></item-card>
</div>
