@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Cabin:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Nova+Round:regular);
@import url(https://fonts.googleapis.com/css?family=Chango:regular);
@import url(https://fonts.googleapis.com/css?family=Changa+One:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre:regular);
@import url(https://fonts.googleapis.com/css?family=Special+Elite:regular);
/* standard values */
.card-wrapper {
  align-self: center;
  margin: 0 auto;
  display: grid;
  width: clamp(375px, 100%, 900px);
  margin-bottom: 35px;
}

.category-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

/* card body */
.menu-card {
  /* outline: 1px solid red; */
  font-size: .80rem;
}
.card-body {
  padding: 10px;
  margin: 0;
}
.card-name {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
}
.card-price {

}


/* user selected styles */
/* format styles */
.tall {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* WIDE CLASS */
.wide {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  text-align: justify;
  word-spacing: -2px;
}

.wide .card-body {
  padding: 20px;
}

/* LIST CLASS */
.list {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.list .card-body {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: clamp(300px, 100%, 850px)
}
.list .card-name {
  font-weight: 500;
  font-size: 1rem;
}
/* controls font */
/* CLASSIC FONT */
.classic {
  font-family: Playfair Display;
}
/* item heading */
.classic h5 {
  font-family: Lora;
  font-weight: 550;
}
/* item description and price */
.classic p {
  font-family: Lora;
  font-weight: 450;
}
.classic .card-price {
  font-weight: 350;
}

/* MODERN */
.modern {
  font-family: Cabin;
}
/* item heading */
.modern h5 {
  font-family: Montserrat;
  font-weight: 500;
}
/* item description and price */
.modern p {
  font-family: Montserrat;
  font-weight: 450;
}

.modern .card-price {
  font-weight: 400;
}

/* STYLIZE */
.stylize {
  font-family: Special Elite;
}
/* item heading */
.stylize h5 {
  font-family: Averia Gruesa Libre;
}
/* item description and price */
.stylize p {
  font-family: Averia Gruesa Libre;
}

