<router-outlet >
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/preview">preview</a>
            </li>
        </ul>
    </nav>
</router-outlet>

<div [hidden]="router.url !== '/'">
    <h1 >Menu Creator</h1>

    <!-- button toggles visibility of form -->


    <!-- template form for adding new items -->
    <item-form></item-form>

    <!-- edit form visible upon 'edit' click on card component -->
    <edit-form
        *ngIf="editForm"
        [editItem]="selectedEditItem"
        (cancelEdit)="closeEditForm()"
        (submitEdit)="submitEdit($event)"
    ></edit-form>

    <!-- displays menu -->
    <div
        class="menuWrapper"
    >
        <item-card
            *ngFor="let item of menu"
            [item]="item"
            (deleteItem)="deleteFromMenu($event)"
            (editItem)="openEditForm($event)"
            (updateItem)="updateBoolean($event)"
        ></item-card>
    </div>
</div>
